<div class="container">
  <div class="row mt-3 mb-4 justify-content-center">
    <h4 class="my-4 text-md-end text-left" >
      <span class="text-white bg-secondary px-4">マイページ</span>
    </h4>
    <div class="col-md-5">
    </div>
  </div>
  <div class="row py-3">
    <div class=" col-md-2">
      <h2>登録情報</h2>
    </div>
    <div>
      <%= link_to "編集する", edit_customers_path, class: 'btn btn-success btn-block px-5' %>
    </div>
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>氏名</th>
        <th><%= @customer.first_name %>　<%= @customer.last_name %></th>
      </tr>
       <tr>
        <th>フリガナ</th>
        <th><%= @customer.first_name_kana %>　<%= @customer.last_name_kana %></th>
      </tr>
       <tr>
        <th>郵便番号</th>
        <th><%= @customer.postal_code %></th>
      </tr>
       <tr>
        <th>住所</th>
        <th><%= @customer.address %></th>
      </tr>
      <tr>
        <th>電話番号</th>
        <th><%= @customer.telephone_number %></th>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <th><%= @customer.email %></th>
      </tr>
    </tbody>  
  </table>
  <div class="row py-3">
    <div class=" col-md-2">
      <h2>配送先</h2>
    </div>
    <div>
      <%= link_to "一覧を見る", addresses_path, class: 'btn btn-primary btn-block px-5' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">
      <h2>注文履歴</h2>
    </div>
    <div>
      <%= link_to "一覧を見る", orders_path, class: 'btn btn-primary btn-block px-5' %>
    </div>
  </div>
</div>
