<h1>管理者側：商品一覧</h1>
<p>Find me in app/views/admin/items/index.html.erb</p>

<%= link_to new_admin_item_path, class: "btn btn-outline-primary" do %>
  <i class="fa fa-arrow-right"></i>
  <span>新規登録</span>
<% end %>

<div class="mx-auto" style="width: 80%;">
  <table class="table"  border="1" style="border-collapse: collapse">
    <thead class="bg-light">
      <tr>
        <th scope="col">商品ID</th>
        <th scope="col">商品名</th>
        <th scope="col">税抜価格</th>
        <th scope="col">ジャンル</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td><%= item.genre_id_i18n %></td>
          <td>
            <% if item.is_active == true %>
              販売中
            <% else %>
              販売停止中
            <% end %> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div style="justify-content-center">
  <%= paginate @items %>
</div>

