<div class="container takasa">
  <div class="row mt-5">
    <div class="col-md-3">
    <table class="table table-bordered pr-3">
          <thead>
            <tr>
              <th>ジャンル検索</th>
            </tr>
          </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <td>
              <%= link_to genre.name, items_path(genre_id: genre.id) %>
            </td>
        </tbody>
          <% end %>
    </table>
    </div>
    
    <div class="col-md-1 "></div>
      <div class="col-md-8 text-left mt-5 pl-5">
    	  <h4>
    		  ようこそ、NaganoCakeへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </h4>
      </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <h4><strong>新着商品</strong></h4><br>
    </div>
  </div>
  
  <div class="row">
  		  <div class="col-md-3"></div>
  		  <div class="col-md-1"></div>
  		  <div class="col-md-8">
  		    <div class="row">
  		      <% @items.each do |item| %>
            <div>
              <%= link_to item_path(item.id) do %> <!-- 画像をクリックしたら商品詳細画面へ遷移 -->
                <% if item.image.attached? %>
                  <%= image_tag item.image, size: '150x150' %>
                <% else %>
                  <%= image_tag 'no_image.jpg' %>
                <% end %>
              <% end %>
              <p><%= item.name %></p>
              <p>¥<%= (item.price*1.1).floor %></p> <!-- 税込計算式/.floor => 浮動小数点数の切り捨てを行うためFloatクラスのfloorメソッドを使用 -->
            </div>
          <% end %>
  		    </div>
  		    
  		  </div>
  </div>
</div>
  	 

<div class="row">
  <div class="col-md-9"></div>
  	<div class="col-md-2">
  	   <p><%= link_to "もっと見る＞", items_path %></p>
    </div>
 </div>
  
     
 

