<div class="container-fluid">
  <div class="row mt-3 mb-4 justify-content-center">
    <h4 class="my-4 text-md-end text-left" >
      <span class="text-white bg-secondary px-4">配送先登録/一覧</span>
    </h4>
    <div class="col-md-5">
    </div>
  </div>
  <%= form_with url: addresses_path, model: @address, local:true do |f| %>
    <div class="row mb-4 justify-content-center">
      <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: 'col-md-2 p-0 text-center' %>
      <%= f.text_field :postal_code, placeholder: "0000000", class: 'col-md-3'  %>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row mb-4 justify-content-center">
      <%= f.label :address, "住所", class: "col-md-2 p-0 text-center" %>
      <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: 'col-md-3' %>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row mb-5 justify-content-center">
      <%= f.label :name, "宛名", class: "col-md-2 p-0 text-center" %>
      <%= f.text_field :name, placeholder: "令和道子", rows: 8, class: 'col-md-3' %>
      <div class="col-md-2 text-center">
        <%= f.submit '新規登録', class: 'btn btn-success border-0' %>
      </div>
    </div>
  <% end %>
  
  <table class="table col-md-8 mx-auto table-bordered">
    <% @addresses.each do |address| %>
    <thead class="bg-light">
      <tr>
        <th>郵便番号></th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= address.postal_code %></th>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td class="text-center"><%= link_to '編集する', edit_address_path(address.id), class: 'btn btn-primary' %>
            <%= link_to '削除する', address_path(address.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>