<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>ショッピングカート</h2>
    </div>
    <div class="col-md-2">
      <div><%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-danger" %></div>
    </div>
  </div>
  <div class="row">
    <h4><%= notice %></h4>
	  <table class="table-bordered">
	  <tr>
        <th id="item-name">商品名</th>
        <th style="width:180px;">単価（税込）</th>
        <th style="width:180px;">数量</th>
        <th style="width:180px;">小計</th>
        <th style="width:180px;"></th>
      </tr>

      <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
          <%= link_to item_path(cart_item.item_id) do %>
            <%= image_tag cart_item.item.get_image(250, 250) %>
          <% end %>
        </td>
        <td><%= (cart_item.item.price*1.1).floor %></td>
        <td>
              <%= form_for cart_item, url: cart_item_path(cart_item) do |f| %>
              <%= f.number_field :amount, min:1, max: 20 %>　　<%= f.submit "変更" ,class:"btn btn-success btn-xs" %>
              <% end %>
        </td>
        <td><%= ((cart_item.item.price*1.1).floor*cart_item.amount) %>
            <% @total += ((cart_item.item.price*1.1).floor*cart_item.amount) %>
        </td>
        <td><div style="margin-left:50px;">
          <%= link_to "Destroy", cart_item_path(cart_item), method: :delete, class:"btn btn-danger" %>
            </div>
        </td>
      </tr>
      <% end %>
    </table>

  </div>
  <div class="row">
    <div class="col-xs-9">
      <div style="margin-top:50px;"><%= link_to "買い物を続ける", root_path, class:"btn btn-primary" %></div>
    </div>
    <div class="col-xs-3">
      <div class="total-price-box">
        <div>合計金額</div>
        <div><%= @total %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4 cart_continue_to_order">
      <% if current_customer.cart_items.count >= 1 %>
        <%= link_to "情報入力に進む", new_order_path,class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
    <div class="col-xs-4"></div>
  </div>

</div>