<div class="container mx-auto mt-5">
  <div class="row">
    <div class="col-md-3">
    </div>
  </div>
  <div class="row">
    <%= render "public/shared/sidebar", genres: @genres %>
    <div class="col-md-1"></div>
  	<div class="col-md-8">
  	  <h2>
  	     <% if request.path.match(/\/search(\/)?/) %>
  	       <h2>
  	         <strong><%= @genre.name %>一覧</strong><span style="font-size:25px;">（全<%= @quantity %>件）</span>
  	       </h2>
  	     <% else %>
  	       <h2>
  	         <strong>商品一覧</strong><span style="font-size:25px;">（全<span><%= @quantity %></span>件）
  	       </h2>
          <% end %>
          
  	    <div class="row">
  	      <% @items.each do |item| %>
            <div class="box">
            <%= link_to item_path(item.id) do %>
              <% if item.image.attached? %>
                <%= image_tag item.image, size: '180x180' %>
              <% else %>
                <%= image_tag 'no_image.jpg' %>
              <% end %>
            <% end %>
              <p><%= item.name %></p>
              <p>¥<%= (item.price*1.1).floor %></p>
            </div>
          <% end %>
  	    </div>
        <div class="col-md-6 col-xs-offset-4 ">
          <%= paginate @items %>
        </div>
  	</div>
  </div>
</div>